.experiencia__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experiencia__container >div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experiencia__container >div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experiencia__container >div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--collor-primary);
}
.experiencia__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experiencia__details{
    display: flex;
    gap: 1rem;
}

.experiencia__details-icon{
    margin-top: 6px;
    color: var(--collor-primary);
}